li {
    color: whitesmoke;
}
 
h1 {
    color: whitesmoke;
    background: black;
}

h2 {
    color: lavender;
}

h4 {
    color: yellow;
} 

li {
    list-style-type: circle;
}

p {
    text-align: center;
    color: orange;
    font-size: 20px;
}